Repository voxpupuli/puppet-varnish, pull requests merged in 2023-11, with the labels that each got.

#36 🐛 Fix firewall usage to match the new module, switch to puppetlabs/firewall 7
  manifests/firewall.pp
  manifests/vcl.pp
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: backwards-incompatible

#37 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#27 Fix varnish ncsa support
  REFERENCE.md
  examples/ncsa.pp
  manifests/init.pp
  manifests/ncsa.pp
  spec/acceptance/varnish_spec.rb
  spec/classes/varnish_ncsa_spec.rb
  templates/varnishncsa-default.erb
  templates/varnishncsa.dropin.epp
Labels: bug, enhancement
