Repository voxpupuli/puppet-varnish, pull requests merged in 2023-05, with the labels that each got.

#19 Fix VCL syntax
  spec/defines/varnish_vcl_backend_spec.rb
  templates/includes/backends.vcl.erb
Labels: bug

#21 modulesync 6.0.0
  .msync.yml
  Gemfile
  REFERENCE.md
  manifests/vcl/acl.pp
  manifests/vcl/backend.pp
  manifests/vcl/director.pp
  manifests/vcl/probe.pp
  spec/defines/varnish_vcl_acl_spec.rb
Labels: modulesync

#23 Define ressource type to validate instead of validate_re
  REFERENCE.md
  manifests/vcl/acl.pp
  manifests/vcl/acl_member.pp
  manifests/vcl/backend.pp
  manifests/vcl/director.pp
  manifests/vcl/probe.pp
  spec/defines/varnish_vcl_acl_spec.rb
  spec/defines/varnish_vcl_backend_spec.rb
  spec/defines/varnish_vcl_director_spec.rb
  spec/defines/varnish_vcl_probe_spec.rb
  spec/type_aliases/vclressouce_spec.rb
  templates/includes/backends.vcl.erb
  templates/includes/directors.vcl.erb
  templates/includes/directors4.vcl.erb
  templates/includes/probes.vcl.erb
  types/vcl/ressource.pp
Labels: enhancement

#22 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
