Repository voxpupuli/puppet-varnish, pull requests merged in 2023-12, with the labels that each got.

#42 Add Support for Sockets in Varnish Proxy Listening
  REFERENCE.md
  manifests/init.pp
  spec/classes/varnish_spec.rb
  templates/varnish-conf.erb
Labels: enhancement

#43 Prepare Release 5.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#48 modulesync 7.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync
